/* WHOLE PAGE ========================== */
:root{
    /*colors*/
    --purple:#462f5e;
    --cream:#f8f6eb;
    --yellow:#e1de91;
    --grey:rgb(68, 67, 67);
    --blue: rgb(19, 30, 61);
    
    /*fonts*/
    --logo: "American Typewriter";
    --title: "Helvetica Neue";
    --normal: Tahoma;
}

body{
    margin:0;
    font-family: Tahoma, Arial, sans-serif;
    background:var(--blue);
    color:var(--yellow);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height:1.5;
    padding:100px;
    background: linear-gradient(rgba(19, 30, 61, 0.8), rgba(19, 30, 61, 0.8)), url("images/graph.jpg") center/cover;
}

main{
    height: 600px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.container{
    max-width:1000px;
    margin:32px auto;
    padding:0 16px;
}


/* FONTS ========================== */
h1{
    font-family: var(--title), Arial, sans-serif;
    font-size: 40px;

}

h2{
    font-family: var(--title), Arial, sans-serif;
    font-size: 32px;

}

h3{

    font-family: var(--title), Arial, sans-serif;
    font-size: 24px;

}

p{
    font-family: var(--normal), Georgia, serif;
    font-size: 20px;
}

ol{
    font-family: var(--normal), Georgia, serif;
    font-size: 20px;
}
label{
    color: var(--grey);

}
/* NAV HEADER ========================== */
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 115px;
    background-color: var(--purple); 
    display: flex;
    align-items: center;

}

header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:16px 0;
    font-family: "American Typewriter", Georgia, serif;
    font-size:28px;
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
}

.logo{
    display:flex;
    justify-self: left;
    align-items:center;
    justify-items: left;
    color: var(--cream);
    font-size: 45px;
    gap:12px;
    font-weight: 600;
    text-decoration: none;
}

.logo:hover{
    opacity:0.8;
}

.aboutus{
    padding-top: 12px;
}
.aboutus:hover{
    opacity: 0.8;
}

nav{
    display: flex;
    gap: 20px;
    font-weight:400;
    font-size: 18px;
    font-family: Tahoma, Arial, sans-serif;
}

nav a{
    display:inline-grid; grid-template-columns: 3;
    color:var(--yellow);
    text-decoration:none;
}

/* FOOTER ========================== */
footer{margin:36px 0 12px;color:var(--cream);font-size:14px;text-align:center}

/* BUTTONS ========================== */
.btn{
    padding-left: 20px; padding-right: 20px;
    padding-top: 10px; padding-bottom: 10px;
    font-weight:400;text-decoration: none;
    justify-content: center;
    align-content: center;
}
.circle{
    width:150px; border-radius:30px;
    white-space: nowrap;
}
.square{
    width: 80px;
}
.long{
    padding-left: 80px; padding-right: 80px; padding-top: 10px; padding-bottom: 10px;
}
.yellowb{
    background:var(--yellow);color: var(--grey);border-width: 1px;border-style: solid; border-color:var(--yellow);
}
.purpleb{
    background:var(--purple) !important ;color: var(--cream) !important;border-width: 1px;border-style: solid; border-color:var(--cream); 
}
.btn:hover{
    opacity:0.8
}

.center{
    display: flex;
    justify-content: center;
}
/* CARDS ========================== */

.card{
    padding:16px;
    border-radius:12px;
    display: block;
    justify-content: center;
    align-items: flex-start;
    background: none;
    width: 80%;
}
.cream_bg{
    background:var(--cream);
}

.yellow_bg{
    background:var(--yellow);
}
.grey_txt{
    color: var(--grey);
}
.hero{
    display: flex;
    background: none; 
    justify-content: left;
}

.cream-gradient{
    background: linear-gradient(to bottom, rgba(248, 246, 235, 1), rgba(248, 246, 235, .5));
}

.yellow-gradient{
    background: linear-gradient(to bottom, rgba(225, 222, 145, 1), rgba(225, 222, 145, .5));
}

.grey-gradient{
    background: linear-gradient(to bottom, rgba(68, 67, 67, 1), rgba(68, 67, 67, .5));

}
/* CARD HEADER ========================== */
.header{
    display:flex;
    align-content: center;
    padding-left: 20px;
    border-radius: 20px;
}

.card_square{
    border-radius: 0px;
    width: 400px;
    height: 400px;
}


/* LOGIN ========================== */


.top-grid {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display:grid; grid-template-columns: repeat(3, 1fr);
    width: 100.3%;
}

.login-option {
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 20px;
    border: none;
}


.login-card {
    position:relative;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    text-align: center;
    flex-direction: column;
    align-items: unset;
}

.login-active{
    border: none;
    background: var(--purple);
    color: var(--cream);
    text-decoration: none;
}

.login-inactive{
    border: none;
    background: var(--yellow);
    color: var(--grey);
    opacity: 0.8;
    text-decoration: none;

}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.login-form label {
  text-align: left;
  font-size: 14px;
  margin-bottom: -10px;
}

.login-form input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
}