<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>
    <link rel="stylesheet" href="styles/styles_final.css">
</head>
<body style="overflow: hidden">
    <div class="topbar"> 
        <header>
            <a class="logo" href="home.html"><img src="images/logo.png" style="width:100px; height:100px; vertical-align:middle;">EXAM BOOKER</a>
            <nav>
                <a class="btn yellowb circle" href="my_registrations.html">My Registrations</a>
                <a class="btn yellowb circle" href="my_appointments.html">My Appointments</a>
            </nav>
        </header>
    </div>

    <main>
        <div class="card cream_bg confirmation">
            <section class="yellow-block">
                <h2 class="grey_txt" style="text-align:center">Success awaits you</h2>
                <h3 class="grey_txt" style="text-align:center">Your appointment has been scheduled!</h3>
                <div class="confirmationb">
                    <div class="spacer"></div>
                    <a class="btn purpleb circle" href="my_registrations.html">Go to My Registrations</a>
                    <a class="btn purpleb circle" href="my_appointments.html">Go to My Appointments</a>
                </div>
            </section>
        </div>
    </main>

    <footer>
            &copy; <span id="year"></span> ExamBooker 
    </footer>

    <script>
        //gets current year
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
