<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_final.css') }}">
</head>

<body>
    <div class="topbar">
        <header>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     style="width:100px; height:100px; vertical-align:middle;">
                EXAM BOOKER
            </a>

            <nav>
                <a class="btn yellowb circle" href="{{ url_for('view_availabilities') }}">View Availability</a>
                <a class="btn yellowb circle" href="{{ url_for('upload_availabilities') }}">Upload Availability</a>
                <a class="btn yellowb circle" href="{{ url_for('center_contract') }}">View Contract</a>
            </nav>
        </header>
    </div>

    <div class="container">
        <main>
            <div class="card cream_bg">
                <div>
                    <h1 style="color:var(--grey); text-align:center">Contract Details</h1>
                </div>

                <div style="padding-left: 20px">
                    <table class="grey_txt contract">
                        <thead>
                            <tr>
                                <th>Info Category</th>
                                {% for d in contract_details %}
                                    <th>Contract Detail</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Test Center ID</td>
                                {% for d in contract_details %}
                                    <td>{{ d.test_center_id }}</td>
                                {% endfor %}
                            </tr>
                            <!-- <tr>
                                <td>Test Center Name</td>
                                {% for d in contract_details %}
                                    <td>{{ d.test_center_name }}</td>
                                {% endfor %}                            
                            </tr> -->
                            <tr>
                                <td>Contract Status</td>
                                {% for d in contract_details %}
                                    <td>{{ d.center_contract_status }}</td>
                                {% endfor %}                              
                            </tr>
                            <tr>
                                <td>Contract Start Date</td>
                                {% for d in contract_details %}
                                    <td>{{ d.center_start_date }}</td>
                                {% endfor %}  
                            </tr>
                            <tr>
                                <td>Contract End Date</td>
                                {% for d in contract_details %}
                                    <td>{{ d.center_end_date }}</td>
                                {% endfor %}    
                            </tr>
                            <tr>
                                <td>Rate</td>
                                {% for d in contract_details %}
                                    <td>{{ d.rate_per_seat }}</td>
                                {% endfor %}                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <footer>
             &copy; <span id="year"></span> ExamBooker
        </footer>
    </div>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
