<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_final.css') }}">
</head>
<body style="overflow: hidden">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="topbar">
        <header>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     style="width:100px; height:100px; vertical-align:middle;">
                EXAM BOOKER
            </a>
            <nav>
                <a class="aboutus" href="{{ url_for('about') }}">About Us</a>
                <a class="btn yellowb circle" href="{{ url_for('login') }}">Login</a>
                <a class="btn yellowb circle" href="{{ url_for('register') }}">Register</a>
            </nav>
        </header>
    </div>

    <main>
        <div class="card card_square cream_bg login-card">
            <form method="POST" action="{{ url_for('login') }}">
                <section>
                    <h3 class="grey_txt">Welcome Back!</h3>
                    <div style="background-color: var(--yellow); padding: 10px; border-radius: 30px">
                        <p style="color:var(--grey)">Select User Type</p>
                        <a>
                            <input type="radio" id="tt" name="user_type" value="TT" checked>
                            <label for="tt">Test Taker</label>
                        </a>

                        <a>
                            <input type="radio" id="tc" name="user_type" value="TC">
                            <label for="tc">Test Center</label>
                        </a>

                        <a>
                            <input type="radio" id="es" name="user_type" value="ES">
                            <label for="es">Exam Sponsor</label>
                        </a>
                    </div>
                </section>

                <section class="login-form">
                        <label for="username">Username: </label>
                        <input type="text" id="username" name="username">

                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password">

                        <button class="btn purpleb">Login</button>
                </section>
            </form>
            <section>
                <p class="yellow">No account?</p>
                <a class="btn yellowb circle" href="{{ url_for('register') }}">Click here</a>
                <br>
            </section>
        </div>
    </main>
    <div class="spacer"></div>

    <footer>
        &copy; <span id="year"></span> ExamBooker
    </footer>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>



