<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_final.css') }}">
</head>
<body>
      <div class="topbar"> 
        <header>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     style="width:100px; height:100px; vertical-align:middle;">
                EXAM BOOKER
            </a>
            <nav>
                <a class="btn yellowb circle" href="{{ url_for('my_registrations') }}">My Registrations</a>
                <a class="btn yellowb circle">My Appointments</a>
                <a class="btn purpleb" href="{{ url_for('log_out') }}">Log Out</a>
            
            </nav>
        </header>
    </div>
    <div class="container">
      <main>
        <div class="card cream_bg">
            <div class="header yellow_bg">
                <h1 style="color:var(--grey)">My Registrations</h1>
            </div>
            <nav style="justify-content: center">
                <a class="btn purpleb long center">
                    Register for an Exam
                </a>
            </nav>
        </div>
    </main>

        <footer>
             &copy; <span id="year"></span> ExamBooker 
        </footer>
    </div>

    <script>
        //gets current year
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
