<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_final.css') }}">
</head>
<body>
      <div class="topbar"> 
        <header>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     style="width:100px; height:100px; vertical-align:middle;">
                EXAM BOOKER
            </a>
            <nav>
                <a class="btn yellowb circle" href="{{ url_for('my_registrations') }}">My Registrations</a>
                <a class="btn yellowb circle" href="{{ url_for('my_appointments') }}">My Appointments</a>
                <a class="btn purpleb" href="{{ url_for('log_out') }}">Log Out</a>
            
            </nav>
        </header>
    </div>
    <div class="container">
      <main>
        <div class="card cream_bg">
            <div class="header blue_bg">
                <h1 style="color:var(--cream)">My Registrations</h1>
            </div>
            <br>
            {% if registrations %}
                {% for r in registrations %}
                <div>
                    <div class="exam_reg_header yellow_bg">
                        <h2 class="exam_reg_sponsor">{{ r.sponsor_name }}</h2>
                    </div>
                    <div>
                        <h3 class="exam_reg_exam_name">{{ r.exam_name }}</h3>
                        <br>
                        {% if r.appointment_status == "Scheduled" %}
                            <a class="btn purpleb" style="font-size: 18px" href="{{ url_for('my_appointments') }}">Appointment Details</a>
                        {% else %}
                            <a style="color: red">⚠ Your exam is not scheduled yet!</a>
                            <a>                           
                                <form method="POST" action="{{ url_for('schedule_exam') }}">
                                    <input type="hidden" name="exam_registration_id" value="{{ r.exam_registration_id }}">
                                    <button class="btn purpleb" type="submit" style="font-size: 18px">&nbsp;&nbsp;&nbsp;&nbsp;Schedule Exam&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                </form>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
                {% endfor %}
            {% else %}
             <div class="no-data">
                    <p style="color: var(--grey)">You are not registered for any exams yet. Click "Register for an Exam" to register.</p>
            </div>
            {% endif %}
            <nav style="justify-content: center">
                
                <a class="btn blueb long center" href="{{ url_for('new_exam_registration') }}"> 
                    Register for an Exam
                </a>
            </nav>
        </div>
    </main>

        <footer>
             &copy; <span id="year"></span> ExamBooker 
        </footer>
    </div>

    <script>
        //gets current year
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
