<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_final.css') }}">
</head>
<body>
      <div class="topbar"> 
        <header>
            <a class="logo" href="{{ url_for('my_registrations') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     style="width:100px; height:100px; vertical-align:middle;">
                EXAM BOOKER
            </a>
            <nav>
                <a class="btn yellowb circle" href="{{ url_for('my_registrations') }}">My Registrations</a>
                <a class="btn yellowb circle">My Appointments</a>
                <a class="btn purpleb" href="{{ url_for('log_out') }}">Log Out</a>
            
            </nav>
        </header>
    </div>

    <main>
        <div class="card cream_bg">
            <section>
                <section>
                    <div style="background-color: var(--yellow); padding: 10px; border-radius: 30px">
                        <h3 class="grey_txt">Register for an Exam</h3>
                    </div>
                </section>
                <br>
                <div style="background-color: var(--blue); padding: 10px; border-radius: 30px">
                    <br>
                    <form class="exam_reg_grid" method="POST" action="{{ url_for('new_exam_registration') }}">
                        <label for="exam_sponsor">Select Exam Sponsor: </label>
                         <select name="sponsor_name" id="sponsor_name" class="city-input">
                            {% if sponsor_name %}
                            <option value="{{ sponsor_name }}">{{ sponsor_name }}</option>
                            {% else %}
                            <option disabled selected>-- Select a sponsor --</option>
                            {% for sponsor in sponsors %}
                                <option value="{{ sponsor.sponsor_name }}">{{ sponsor.sponsor_name }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        <button type="submit" class="btn purpleb">Select Sponsor</button>
                    </form>
                    <br>
                    {% if sponsor_name %}
                    <form class="exam_reg_grid" method="POST" action="{{ url_for('new_exam_registration') }}">
                        <label for="exam_name">Select Exam: </label>
                        <input type="hidden" name="sponsor_name" value="{{ sponsor_name }}">
                        <select name="exam_name" id="exam_name" class="city-input">
                            {% if exam_name %}
                            <option value="{{ exam_name }}">{{ exam_name }}</option>
                            {% else %}
                            <option disabled selected>-- Select an exam --</option>
                            {% for exam in exams %}
                                <option value="{{ exam.exam_name }}">{{ exam.exam_name }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        <button type="submit" class="btn purpleb">Select Exam</button>
                    </form>
                    {% endif %}
                    <br>
                    <form method="POST" action="{{ url_for('new_exam_registration') }}" class="center">
                        <input type="hidden" name="sponsor_name" value="{{ '' }}">
                        <input type="hidden" name="exam_name" value="{{ '' }}">
                        <button type="submit" class="btn creamb circle">Clear Selections</button>
                    </form>
                    {% if exam_name and sponsor_name %}
                    <br>
                    <h3>Total Cost: $ {{ cost }} USD</h3>
                    <form class="payment_grid" method="POST" method="POST" action="{{ url_for('create_registration') }}">    
                        <label for="name_on_card">Cardholder Name: </label>
                        <input type="text" id="cardholder_name" name="cardholder_name" pattern="[A-Za-z ]+" placeholder="Cardholder Name" style="font-size: 20px" required>
                        <label for="card_number">Card Number: </label>
                        <input type="text" id="card_number" name="card_number" pattern="[0-9]{16}" placeholder="•••• •••• •••• ••••"style="font-size: 20px"required>
                        <label for="expiration_date">Expiration Date: </label>
                        <input id="expiration_date" name="expiration_date" type="text" pattern="[0-9]{2}/[0-9]{4}" placeholder="mm / yyyy" style="font-size: 20px"required>
                        <label for="cvv">3-digit CVV: </label>
                        <input type="text" id="cvv" name="cvv" pattern="[0-9]{3}" placeholder="•••"style="font-size: 20px"required>    
                        <br>
                    </div>
                <br>
                <div class="flash-container" style="color:red">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                    <nav style="justify-content: center">
                        <input type="hidden" name="sponsor_name" value="{{ sponsor_name }}">
                        <input type="hidden" name="exam_name" value="{{ exam_name }}">
                        <button class="btn yellowb long" type="submit" style="font-size: 20px">Finish Registration</button>
                    </nav>
                        <!-- <p>S: {{sponsor_name}} E: {{exam_name}}</p> -->
                </form>
                {% endif %}

                    
            </section>
        </div>
    </main>
    <div class="container">
        <footer>
            &copy; <span id="year"></span> ExamBooker
        </footer>
    </div>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
