<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Booker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_final.css') }}">
</head>
<body>

    <div class="topbar">
        <header>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}"
                     style="width:100px; height:100px; vertical-align:middle;">
                EXAM BOOKER
            </a>

            <nav>
                <a class="btn yellowb circle" href="{{ url_for('view_availabilities') }}">View Availability</a>
                <a class="btn yellowb circle" href="{{ url_for('upload_availabilities') }}">Upload Availability</a>
                <a class="btn yellowb circle" href="{{ url_for('center_contract') }}">View Contract</a>
            </nav>
        </header>
    </div>

    <!-- Flash messages -->
    <div class="container">
        <main>
            <div class="card cream_bg">
                <div class="header yellow_bg">
                    <h1 style="color:var(--grey)">Upload Availabilities</h1>
                </div>

                <div style="padding-left: 20px">
                    <p style="color:var(--grey)">Please upload your availabilities in .csv format. File must contain:</p>
                    <ol style="color:var(--grey)">
                        <li>Date (YYYY-MM-DD)</li>
                        <li>Start Time (HH:MM:SS)</li>
                        <li>End Time (HH:MM:SS)</li>
                        <li>Duration in Minutes (Number)</li>
                        <li>Capacity Available (Number)</li>
                    </ol>
                </div>

                <section>
                    <form method="POST"
                        action="{{ url_for('upload_availabilities') }}"
                        enctype="multipart/form-data">
                        <label class="btn yellowb" for="fileUpload" style="font-size:20px; ">Upload Availability File</label>
                        <input type="file" id="fileUpload" name="csv_file" style="display:none;" required>
                        <button class="btn purpleb circle" type="submit" style="margin-top:20px; font-size: 20px">Submit</button>
                    </form>
                </section>
                <div class="flash-container" style="color:red">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>


            </div>
        </main>

        <footer>
             &copy; <span id="year"></span> ExamBooker
        </footer>
    </div>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>

</body>
</html>

